.container {
    height: 98vh;
    background-image: url(imagens_do_cap/wallpaper003.jpg);
    background-size: 100% 100%;
}

.bloco {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 400px;

    background-image: url('imagens_do_cap/target001.png');
    background-size: 100% 100%;
    background-color: purple;
}