.container {
    height: 100vh;
    background-image: url(imagens_do_cap/wallpaper001.jpg);
    background-size: cover;
}

.bloco {
    border: 1px solid black;
    height: 200px;
    margin: 5px;

    border-radius: 10px;

    background-image: url(imagens_do_cap/wallpaper003.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}


#q1 {
    background-position: top;
}

#q2 {
    background-position: center;
}

#q3 {
    background-position: bottom;
}