body {
    background-color:rgb(20, 20, 20);
    color: aliceblue;
    font-size: larger;
}

h1{
    font-weight: bold;
    background-color: rgb(228, 77, 38);
    width: fit-content;
}

.container{
    display: flex;
    align-items: center;
}

a{
    color:coral;
    text-decoration: none;
}

.especial:hover{
    text-decoration: underline;
    color: red;
}

.especial:before{
    content: '>';
    font-weight: lighter;
}

.especial:after{
    content: '<';
}