body{
    background-color: rgb(46, 46, 46);
}

main{
    margin: 20px 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 20px;
    color: black;
}

footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

footer > p{
    margin: 0px
}

article{
    background-color: rgb(200, 200, 200);
    margin: 30px;
    width: fit-content;
}

nav, header{
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 10px; */
    margin: 20px 10px 40px 10px;

    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px; */
    padding: 5px 10px;
}

header{
    text-align: center;
    background-color: rgb(200, 200, 200);

    /* border-width: 10px;
    border-style: solid;
    border-color:rgb(5, 79, 119); */
    border: 5px solid rgb(0, 100, 200);
}

nav{
    background-color: rgb(200, 200, 200);
    color: coral;
    text-decoration: underline;
    
    /* border-width: 3px;
    border-style:solid;
    border-color: red; */
    border: 3px solid red;
    
    margin: 30px;
    
    padding: 2.5px;
    
    width: fit-content;

    box-shadow: 10px 5px 5px 1px rgba(0, 0, 0, 0.521);
}
