@font-face {
    font-family: 'Idroid';
    src: url(/modulo_2/d010/docs/fontes/idroid.otf);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* background-image: linear-gradient(to , #768DB8,#5D6F91,aqua); */
    background-image: linear-gradient(to bottom, #3CD983, #1A5C38);
    color: white;

    text-align: center;

    margin: 0px;
    padding: 10px;
}

#subtitulo{
    font-size: 75%;
}

#menu{
    background-color: #1A5C38;
    color: white;
    
    font-size: 90%;
    word-spacing: 10px;

    text-align: left;

    border: 100px;
    padding: 0.5px;
    padding-left: 15px;
}