@font-face {
    font-family: 'Idroid';
    src: url(/modulo_2/d010/docs/fontes/idroid.otf);
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: #84E1AD;

    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom, #3CD983, #1A5C38);
    color: white;
    
    text-align: center;
    
    margin: 0px;
    padding: 10px;
}

#titulo-principal{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#subtitulo{
    font-size: 75%;
    
    width: 300px;
    /* padding-left: 200px; */
    padding-bottom: 0px;
    
    text-align: center;
    margin: 30px 80px 0px 80px;
}

#menu{
    background-color: #1A5C38;
    color: white;
    
    font-size: 90%;
    word-spacing: 10px;

    text-align: left;

    padding: 0.5px 15px;
    border: 10px;
}

.img-container{
    display: flex;
    justify-content: center;
}

img {
    flex: 1;
    max-width: 100%;
    height: auto; 
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
    background-color: #195C38;
  }
  
  .video-container iframe {
    position:absolute;
    top: 15px;
    left: 25px;
    width: 90%;
    height: 90%;
  }
  

main{
    background-color: white;

    margin: 0px 150px;

    padding: 10px 20px;
}

#titulo{
    font-family: 'Idroid';
    color: #195C38;
}

p{
    text-indent: 50px;
}

.titulos-secundarios{
    font-family: 'Idroid';
    color: #195C38;
    background-image: linear-gradient(to right, #84E1AD, white);
}





footer{
    background-color: #1A5C38;
    color: white;
    
    font-size: 90%;

    text-align: center;

    padding: 10px;
    margin-top: 20px;

}