header {
    background-color: black;
    padding: 100px;
    margin: -8px;

    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: white
}

.imagem {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}

.container {
    background-color: white;
    font-size: 25px;
    line-height: 25px;
}

#poema1,
#poema3 {
    padding: 125px 0px 150px 50px;
    text-align: left;
    font-size: 30px;
}

#poema2 {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 30px;
    margin-inline-end: 73%;

    padding: 30px 120px 80px 55px;
}